<div class="body">
    <mat-toolbar style="height: 8vh;" class="nav fixed-top">
        <button class="sanduiche" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="logo">
            <img src="../../../assets/logo-branco.png">
        </div>
        <div class="navigation">
            <a mat-button routerLink="/home" class="navlink">Início</a>
            <a mat-button routerLink="/sobre" class="navlink">Sobre Nós</a>
            <a mat-button routerLink="/sobre" class="navlink">Soluções</a>
            <a mat-button routerLink="/projetos" class="navlink">Projetos</a>
            <a mat-button routerLink="/contato" class="navlink">Contato</a>
            <button mat-flat-button>Comece a economizar</button>
        </div>
    </mat-toolbar>

    <mat-drawer-container>
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <a mat-button routerLink="/home" class="navlink">Home</a>
            <a mat-button routerLink="/sobre" class="navlink">Sobre</a>
            <a mat-button routerLink="/projetos" class="navlink">Projetos</a>
            <a mat-button routerLink="/contato" class="navlink">Contato</a>
        </mat-drawer>

        <div style="padding-top: 80px;">
            <router-outlet></router-outlet>
            <a class="float" href="https://wa.me/5518996494440" target="_blank"><img src="../assets/zapverde.png"
                    style="height: 80px;width: 80px;"></a>
            <a class="floatsm" href="https://wa.me/5518996494440" target="_blank"><img src="../assets/zapverde.png"
                    style="height: 40px;width: 40px;"></a>
        </div>
        <div class="footer">
            <div class="content">
                <div class="socials">

                    <img src="../../../assets/logo-branco.png">
                    <h3>Fundada para oferecer os melhores
                        projetos de energia fotovoltaica para
                        diversos segmentos. Prezando por
                        qualidade, durabilidade e economia.
                    </h3>
                    <h2>Siga a gente</h2>
                    <h3>Fique por dentro de tudo sobre energia
                        solar, economia e muito mais.
                    </h3>
                    <div>
                        <a href="https://www.instagram.com/solarpremiumenergia/" target="_blank"><img
                                style="height: 50px;width: auto;" src="../assets/iconeinstagram.png"></a>
                        <a href="https://www.facebook.com/solarpremiumenergia" target="_blank"><img
                                style="height: 50px;width: auto;" src="../assets/iconefacebook.png"></a>
                    </div>

                </div>
                <div class="map">
                    <a mat-button routerLink="/home" class="navlink">Início</a>
                    <a mat-button routerLink="/sobre" class="navlink">Sobre Nós</a>
                    <a mat-button routerLink="/sobre" class="navlink">Soluções</a>
                    <a mat-button routerLink="/projetos" class="navlink">Projetos</a>
                    <a mat-button routerLink="/contato" class="navlink">Contato</a>
                </div>
                <div class="location">
                    <h2>Está esperando o que?</h2>
                    <button mat-flat-button>Comece a <br> economizar</button>
                    <p><img src="../assets/telefonebranco.png"> (18) 3909-0489</p>
                    <p><a href="https://wa.me/5518997922934"><img src="../assets/zapbranco.png"></a> (18) 99792-2934</p>
                    <p><img src="../assets/emailbranco.png"> solarpremiumpp@gmail.com</p>
                    <!-- <p class="endereco"><i class="fa-solid fa-map-pin"></i> Presidente Prudente: Avenida José campos do
                        Amaral, 1244, Rotta do Sol</p>
                    <a href="https://goo.gl/maps/METC2UCdjD7ZizHM7" target="_blank"><i
                            class="fa-solid fa-map-location-dot"></i> Veja no Maps</a>
                    <p><i class="fa-regular fa-clock"></i> Horários: Segunda à Sexta, das 8:00h as 18:00h.</p>
                    <p><i class="fa-solid fa-phone"></i> Telefone: (18) 3909-0489</p> -->

                </div>

            </div>

            <div class="credits">
                <h4>© 2022 Solar Premium todos os direitos reservados</h4>
                <span style="color: white;">Developed by <a href="https://github.com/William-Sanches"
                        target="_blank">William Sanches</a>. Design by <a href="https://github.com/William-Sanches"
                        target="_blank">John Wick</a>.</span>
            </div>
        </div>

    </mat-drawer-container>
</div>