@import "/src/styles.scss";

.painel {
    background-color: white;
    height: auto;
    min-height: 700px;
    width: 100%;
    min-width: 600px
}

.painel h2 {
    color: black;
    font-size: 30px;
    width: 76%;
    margin: auto;
}

.table {
    margin: auto;
    width: 76%;
    text-align: center;
}

.tableButton {
    height: 100px;
    width: 76%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}

.tableButton button {
    background-color: mat-color($theme-warn, lighter);
    height: 50px;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.deletebtn {
    background-color: mat-color($theme-warn, main);
    width: 80px;
    height: 40px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}