<div class="cards">
    <mat-card class="cardProjeto" id="i1">
        <mat-card-content>
            <h2>1. Avaliação</h2>
        </mat-card-content>
        <mat-card-content>
            <p>Na etapa de avaliação, é estudada a viabilidade técnica e financeira do proejo. O cliente recebe o
                orçamento referente a geração desejada. Normalmente é realizada uma visita técnica.</p>
        </mat-card-content>
        <mat-card-content>
            <i class="fa-solid fa-file-pen fa-2xl"></i>
        </mat-card-content>
    </mat-card>
    <mat-card class="cardProjeto" id="i2">
        <h2>2. Documentação</h2>
        <p>Com o sinal verde do cliente e dos técnicos, é necessário a coleta de documentos pessoais dos interessados,
            assim como geração da procuração e TRT, documentos que necessitam da assinatura do cliente.</p>
        <i class="fa-regular fa-id-card fa-2xl"></i>
    </mat-card>
    <mat-card class="cardProjeto" id="i3">
        <h2>3. Projeto</h2>
        <p>Com os documentos necessários em mãos, o cliente pode ficar despreocupado: a Solar Premium toma conta de todo
            o processo de agora em diante, e é desenvolvido o projeto técnico, e anexo das documentações junto à
            concessionária de energia para realizar a homologação do projeto</p>
        <i class="fa-solid fa-file-circle-check fa-2xl"></i>
    </mat-card>
    <mat-card class="cardProjeto" id="i4">
        <h2>4. Instalação</h2>
        <p>A aprovação do projeto pela concessionária permite a realização da instalação por nossa equipe técnica. Ao
            término, é solicitada uma vistoria à concessionária de energia, que tem a função de substituir o medidor
            comum por um bidirecional. </p>
        <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i>
    </mat-card>
    <mat-card class="cardProjeto" id="i5">
        <h2>5. Vistoria</h2>
        <p>Nesta etapa, técnicos da concessionária se deslocam até o local da instalação, verificando a conformidade da
            instalação com o projeto apresentado, e fazem a substituição do seu medidor, e ligando o inversor, iniciando
            a geração da sua própria energia.</p>
        <i class="fa-solid fa-check fa-2xl"></i>
    </mat-card>
</div>